<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
  </head>
  <body>
    <section class="admin_landingpage">
      <div class="admin_landingpage_left">
        <div class="admin_menu">
          <div class="admin_menu_title">
            <h3><i class="fa-solid fa-house-flag"></i>Desa Kedungjati</h3>
          </div>
          <div class="admin_menu_option">
            <ul>
              <li class="dashboard" id="dashboard">
                <a href="/index_admin"><i class="fa-solid fa-gauge-high"></i>Dashboard</a>
              </li>
              <li class="profildesa" id="profildesa">
                <a href="/profildesa_admin"><i class="fa-solid fa-address-card"></i>Profil Desa</a>
              </li>
              <li class="perangkatdesa" id="perangkatdesa">
                <a href="/perangkatdesa_admin"><i class="fa-solid fa-folder-open"></i>Perangkat Desa</a>
              </li>
              <li class="pelayanan" id="pelayanan">
                <a href="/pelayanan_admin"><i class="fa-brands fa-servicestack"></i>Pelayanan</a>
              </li>
              <li class="datadesa mark" id="datadesa">
                <a href="/datadesa_admin"><i class="fa-solid fa-hard-drive"></i>Data Desa</a>
              </li>
              <li>
                <a href="/login_admin"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="admin_landingpage_right">
        <div class="admin_maincontent">
          <div class="admin_maincontent_top">
            <div class="admin_maincontent_top_wrapper">
              <div class="hamburger-option">
                <i class="fa-solid fa-bars"></i>
              </div>
              <div class="page-title">
                <h3><%- title %></h3>
              </div>
              <div class="profile_admin">
                <div class="profile_admin_img">
                  <i class="fa-solid fa-circle-user"></i>
                </div>
                <div class="profile_admin_name">
                  <h3>Rizki Hanif</h3>
                  <span>Admin</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script defer src="/js/adminscript.js"></script>
  </body>
</html>
