<section class="visimisi">
  <div class="shortcut-links" data-aos="fade-up">
    <h4>
      <a href="/" class="links-back">Beranda</a> /
      <a href="#" class="location-now">Infrastruktur dan Fasilitas Umum</a>
    </h4>
  </div>
  <div class="visimisi-all" data-aos="fade-up">
    <div class="visimisi-left">
      <div class="sejarahdesa-title">
        <h3>Infrastruktur & Fasilitas Umum</h3>
      </div>
      <div class="sejarahdesa-content">
        <div class="sejarahdesa-paragraf">
          <p>Masyarakat Desa Kedungjati memiliki beberapa infrastruktur dan fasilitas umum yang tersedia untuk melayani kegiatan sehari-hari masyarakat kedungjati. Mulai dari fasilitas ekonomi, pendidikan, keagamaan, dan fasilitas lainnya.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/pondok.jpg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/pembangunan.jpeg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-header">
          <h4>Fasilitas Ekonomi</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Salah satu hal yang mencerminkan kondisi perekonomian suatu daerah adalah melalui ketersediaan fasilitas ekonominya. Pasar di Desa Kedungjati berada di Dukuh Kedungjati dengan nama Pasar Jati Purwa.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Pasar tersebut buka tiga kali dalam seminggu yaitu di hari Rabu, Jumat dan Minggu. Pasar tersebut menuual semua kebutuhan masyarakat mulai dari sayuran, daging, sembako, pakaian hingga jajanan pasar. Pasar tersebut tidak terlalu besar tetapi masyarakat Desa Kedungjati mengandalkan pasar tersebut untuk kebutuhan sehari-hari mereka.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Desa Kedungjati tidak memiliki unit koperasi maupun bank sehingga kegiatan transaksi dan simpan pinjam masyarakat yang paling dekat dapat ditemui di Desa Sukareja, Kecamatan Warureja.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/pasar.png" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/pasar.jpeg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-header">
          <h4>Fasilitas Pendidikan</h4>
        </div>
        <br />
        <div class="pembangunandesa-img">
          <img src="img/tabelpendidikan.jpg" alt="" />
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Dalam hal fasilitas pendidikan, jika dilihat dari keseluruhan jenjang pendidikan terdapat sebanyak enam fasilitas pendidikan, yaitu dua TK (Taman Kanak-Kanak), tiga SD (Sekolah Dasar) dan satu SMP (Sekolah Menengah Pertama).</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Setiap jenjang pendidikan tentunya terdapat fungasinya masing-masing. Secara umum, jenjang pendidikan diperlukan untuk membentuk karakter dan pemberian pembekalan ilmu pengetahuan.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Masyarakat biasanya melanjutkan jenjang pendidikan ke SMA (Sekolah Menengah Atas) ke Desa Sukareja dan menempuh jarak cukup jauh. Masyarakat Desa Kedungjati juga banyak untuk melanjutkan pendidikan ke luar kota karena kondisi fasilitas pendidikan yang tidak ada pada wilayah Desa Kedungjati.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/pendidikan(2).jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/pendidikan(3).jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/pondok.jpg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/pendidikan(5).jpeg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-header">
          <h4>Fasilitas Keagamaan</h4>
        </div>
        <br />
        <div class="pembangunandesa-img">
          <img src="img/tabelkeagamaan.jpg" alt="" />
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Fasilitas keagamaan merupakan tempat dimana masyarakat menjalankan akitivitas atau kegiatan keagamaannya. Secara terperinci yang terdapat di Dukuh Kedungjati, Macanucul dan Cipero terdapat fasilitas-fasilitas keagamaan yaitu tiga masjid dan lima mushola.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Dari hal ini dapat disimpulkan bahwa mayoritas agama masyarakat di Desa Kedungjati memeluk agama Islam. Untuk fasilitas keagamaan lainnya seperti gereja, vihara, pura dan klenteng masyarakat dapat menemukannya di Kota Tegal.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/agama (1).jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/agama (2).jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/agama (3).jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/agama (4).jpeg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-header">
          <h4>Fasilitas Lainnya</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Fasilitas umum lainnya yang ada di Desa Kedungjati antara lain satu Balai Desa Kedungjati yang terletak di Dukuh Kedungjati dan rumah kepala desa yang terletak di Dukuh Kedungjati. Balai desa merupakan bangunan aset desa/kelurahan yang digunakan untuk kegiatan operasional pemerintahan desa/kelurahan yang tidak dimiliki oleh pribadi.</p>
        </div>
        <div class="pembangunandesa-img">
          <img src="img/homepage.jpg" alt="" />
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Balai desa biasanya mulai beraktivitas selama 8 jam mulai dari pukul 08.00 pagi hingga pukul 15.00 dan hari operasionalnya adalah hari Senin-Jumat. Balai desa juga berfungasi sebagai tempat perkumpulan masyarakat desa jika ada acara seperti acara Posyandu dan perkumpulan ibu-ibu PKK. Selain itu juga digunakan untuk menjamu tamu yang berkepentingan datang ke Desa Kedungajati.</p>
        </div>
      </div>
    </div>
    <div class="visimisi-right">
      <div class="rekomendasi-berita-container">
        <div class="rekomendasi-berita-wrapper">
          <div class="rekomendasi-berita-title">
            <h3>Lihat Profil Lainnya</h3>
          </div>
          <div class="anothermenu">
            <ul>
              <li><a href="/visimisi">Visi dan Misi</a></li>
              <li><a href="/profilkades">Profil Kepala Desa</a></li>
              <li><a href="/profilpedes">Profil Perangkat Desa</a></li>
              <li><a href="/sejarahdesa">Sejarah dan Budaya Desa</a></li>
              <li><a href="/infrastrukturdesa">Infrastruktur Desa</a></li>
              <li><a href="/petadesa">Peta Desa</a></li>
              <li><a href="/potensidesa">Potensi Desa</a></li>
              <li><a href="/pembangunandesa">Pembangunan Desa</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
