<section class="visimisi">
  <div class="shortcut-links" data-aos="fade-up">
    <h4>
      <a href="/" class="links-back">Beranda</a> /
      <a href="#" class="location-now">Peta Desa</a>
    </h4>
  </div>
  <div class="visimisi-all" data-aos="fade-up">
    <div class="visimisi-left">
      <div class="sejarahdesa-title">
        <h3>Peta Desa Kedungjati</h3>
      </div>
      <div class="petadesa-img">
        <img src="/img/petadesa.jpg" alt="petadesa" />
        <div class="petadesa-wrapper">
          <div class="petadesa-title">
            <h3>Kondisi Geografis Kedungjati</h3>
          </div>
          <div class="petadesa-keterangan">
            <p class="petadesa-1">Desa Kedungjati termasuk salah satu desa yang terletak di Kecamatan Warureja Kabupaten Tegal dengan luas wilayah sekitar 373.086 hektar. Keluasan wilayah yang begitu potensial saat ini sudah dikembangkan dengan baik oleh para masyarakat desa Kedungjati. Keseharian masyarakat Desa Kedungjati rata-rata adalah bertani karena memiliki kesuburan dan tanah yang luas. Oleh karena itu hampir sebagian penduduk di Desa Kedungjati bermata pencaharian sebagai petani karena letak geografis yang sangat mendukung.</p>
            <div class="petadesa-subtitle">
              <h4>Batas Wilayah</h4>
            </div>
            <p class="petadesa-1">Batas Wilayah Desa Kedungjati dari sisi utara berbatasan dengan Desa Kendayakan, dari sisi selatan berbatasan dengan Hutan Pangkun KPH Pemalang, dari sisi barat berbatasan dengan Desa Sigentong dan sari sisi timur berbatasan dengan Kabupaten Pemalang.</p>
            <div class="petadesa-subtitle">
              <h4>Kondisi Geografis</h4>
            </div>
            <div class="petadesa-list">
              <ul>
                <li>a. Ketinggian tanah dari permukaan laut : -+ 8 mdpl</li>
                <li>b. Banyak curah hujan : 1.225 mm/tahun</li>
                <li>c. Topografi : Rendah</li>
                <li>d. Suhu udara rata-rata : 32 °C</li>
              </ul>
            </div>
          </div>
          <div class="petadesa-subtitle">
            <h4>Orbitrasi (Jarak dari Pusat Pemerintahan)</h4>
          </div>
          <div class="petadesa-list">
            <ul>
              <li>a. Jarak dari pusat pemerintahan kecamatan : 4.5 KM</li>
              <li>b. Jarak dari pusat pemerintahan kabupaten Tegal : 28 KM</li>
              <li>c. Jarak dari pusat pemerintahan Jawa Tengah : 149 KM</li>
            </ul>
          </div>
          <div class="petadesa-subtitle">
            <h4>Pertanahan</h4>
          </div>
          <div class="petadesa-list">
            <ul>
              <li>a. Lahan Pertanian : 373.086 hektar</li>
              <li>b. Lahan Pemukiman : 29.396 hektar</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="visimisi-right">
      <div class="rekomendasi-berita-container">
        <div class="rekomendasi-berita-wrapper">
          <div class="rekomendasi-berita-title">
            <h3>Lihat Profil Lainnya</h3>
          </div>
          <div class="anothermenu">
            <ul>
              <li><a href="/visimisi">Visi dan Misi</a></li>
              <li><a href="/profilkades">Profil Kepala Desa</a></li>
              <li><a href="/profilpedes">Profil Perangkat Desa</a></li>
              <li><a href="/sejarahdesa">Sejarah dan Budaya Desa</a></li>
              <!-- <li><a href="/budayadesa">Budaya Desa</a></li> -->
              <li><a href="/infrastrukturdesa">Infrastruktur Desa</a></li>
              <li><a href="/petadesa">Peta Desa</a></li>
              <li><a href="/potensidesa">Potensi Desa</a></li>
              <li><a href="/pembangunandesa">Pembangunan Desa</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
