<section class="visimisi">
  <div class="shortcut-links" data-aos="fade-up">
    <h4>
      <a href="/" class="links-back">Beranda</a> /
      <a href="#" class="location-now">Potensi Desa</a>
    </h4>
  </div>
  <div class="visimisi-all" data-aos="fade-up">
    <div class="visimisi-left">
      <div class="sejarahdesa-title">
        <h3>Potensi Desa Kedungjati</h3>
      </div>
      <div class="sejarahdesa-content">
        <div class="sejarahdesa-paragraf">
          <p>Masyarakat Desa Kedungjati sebagian besar memperoleh pendapatan melalui bertani. Selain itu, mereka juga berkerja sebagai pedagang, buruh tani, buruh bangunan, pekerja serabutan dan lain-lain.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/galeri/img15.jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/galeri/img16.jpeg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Potensi pertanian di Desa Kedungjati sangat berpengaruh bagi masyarakat desa. Lahan pertanian dan perkebunan yang luas dapat dimanfaatkan masyarakat untuk memenuhi kebutuhan sehari-hari. Jika musim hujan datang tidak mempengaruhi kegiatan perkebunan para masyarakat desa.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Jika musim hujan datang mereka tetap bertani di sawah dan berkebun. Tetapi, terdapat perbedaan makanan yang ditanam saat musim berganti, saat musim hujan masyarakat menanam palawija dan saat musim kemarau masyarakat menanam jagung.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Hasil pertanian biasanya masyarakat menjual langsung ke pasar tanpa jasa tengkulak, selain itu terdapat juga sebagian petani untuk mengkonsumsi sendiri hasil pertaniannya tanpa dijual di pasar. Selain itu, Desa Kedungjati kaya akan pohon jati-nya.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Mereka memanfaatkan pohon jati tersebut untuk dilelang di kabupaten atau kota melalui BKPH Kedungjati – KPH Pemalang. Masyarakat melakukan panen pohon jati saat musim hujan tiba dan menanamnya kembali saat musim kemarau.</p>
        </div>
      </div>
    </div>
    <div class="visimisi-right">
      <div class="rekomendasi-berita-container">
        <div class="rekomendasi-berita-wrapper">
          <div class="rekomendasi-berita-title">
            <h3>Lihat Profil Lainnya</h3>
          </div>
          <div class="anothermenu">
            <ul>
              <li><a href="/visimisi">Visi dan Misi</a></li>
              <li><a href="/profilkades">Profil Kepala Desa</a></li>
              <li><a href="/profilpedes">Profil Perangkat Desa</a></li>
              <li><a href="/sejarahdesa">Sejarah dan Budaya Desa</a></li>
              <!-- <li><a href="/budayadesa">Budaya Desa</a></li> -->
              <li><a href="/infrastrukturdesa">Infrastruktur Desa</a></li>
              <li><a href="/petadesa">Peta Desa</a></li>
              <li><a href="/potensidesa">Potensi Desa</a></li>
              <li><a href="/pembangunandesa">Pembangunan Desa</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
