<section class="visimisi">
  <div class="shortcut-links" data-aos="fade-up">
    <h4>
      <a href="/" class="links-back">Beranda</a> /
      <a href="#" class="location-now">Sejarah Desa</a>
    </h4>
  </div>
  <div class="visimisi-all" data-aos="fade-up">
    <div class="visimisi-left">
      <div class="visimisi-img"></div>
      <div class="sejarahdesa-title">
        <h3>Sejarah Desa Kedungjati</h3>
      </div>
      <div class="sejarahdesa-content">
        <div class="sejarahdesa-paragraf">
          <p>Desa Kedungjati merupakan daerah perdesaan yang dilimpahi berkat tanah pertanian yang subur, tumbuhan yang menghijau, di atas tanah yang data di tumbuhi pepohon dan semak yang masih lebat. Desa Kedungjati, lama kelamaan menjadi desa yang berkembang ramai. Apalagi dengan adanya pendatang yang ingin menetap dan tinggal di Desa Kedungjati.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Desa Kedungjati pantas menjadi desa berkembang karena memiliki potensi alam yang baik dan tanah yang subur. Kesejahteraan rakyat meningkat, dapat dilihat dari rumah-rumah warga yang sebagian besar sudah terbuat dari tembok dan telah memenuhi standar kesehatan dan keindahan.</p>
        </div>
        <div class="sejarahdesa-header">
          <h4>Asal Muasal Desa Kedungjati</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Desa Kedungjati merupakan salah satu desa yang terletak di Kecamatan Warureja, Kabupaten Tegal, Jawa Tengah. Nama Kedung yang berarti tempat dan Jati yang bearti pohon Jati. Desa ini dinamakan Kedungjati karena dahulu desa ini memiliki hutan pohon Jati dan merupakan tempat pertemuan orang alim dan tokoh-tokoh penyebar agama Islam dari kerajaan Mataram.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Masuknya agama Islam ke Kedungjati pun juga melibatkan para pedagang dari tokoh-tokoh kerajaan Mataram tersebut melalui perdagangan. Dahulu, Desa Kedungjati bergabung dengan Desa Sigentong yang terletak sebelah barat Desa Kedungjati dan memiliki lima perdukuhan.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Tetapi, pada tahun 1996-1997 saat masa kepemimpinan kepala desa H. Soekirno, Desa Kedungjati memisahkan diri dari Desa Sigentong karena masyarakat yang terlalu padat dan banyak pendatang yang tinggal di Desa Kedungjati. Oleh karena itu, Desa Kedungjati dibagi menjadi tiga perdukuhan yang teridiri dari Dukuh Kedungjati, Cipero dan Macanucul.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/sejarah (1).jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/sejarah (2).jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/sejarah (3).jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/sejarah (5).jpeg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Seiring perkembangan zaman, Desa Kedungjati tidak selalu menjadi desa yang makmur. Pada tahun 2003 terjadi bencana di Sungai Rambut yaitu longsor yang menyebabkan tanggul jebol dan jalan menuju Dukuh Cipero sangat rusak.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Oleh karena kejadian ini, menimbulkan masalah yang besar bagi masyarakat Desa Kedungjati karena banyak merugikan harta benda bahkan korban jiwa. Selain itu, sawah masyarakat juga terkena dampak dari musibah ini yang menyebabkan tanah sawah warga banyak yang kehilangan dan terbawa arus sungai.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Tetapi, musibah tersebut tidak melumpuhkan semangat warga desa karena Desa Kedungjati masih memiliki banyak potensi alam karena desa ini memiliki tanah yang subur, tumbuhan hijau serta tanah yang datar. Sehingga, masyarakat desa berbondong-bondong untuk memulihkan kembali perekonomian mereka di bidang pertanian.</p>
        </div>
        <div class="sejarahdesa-title">
          <h3>Budaya Desa Kedungjati</h3>
        </div>
        <div class="pembangunandesa-img">
          <img src="img/tabelbudaya.jpg" alt="" />
        </div>
        <div class="sejarahdesa-header">
          <h4>Satu Suronan</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Satu Suronan adalah acara yang ada di masyarakat Jawa sesuai dengan tahun baru Islam (Muharram) atau dalam bahasa Jawa-nya Suro. Pelaksanaan dalam setiap Dukuh di Desa Kedungjati memiliki acaranya masing-masing.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/oboran.jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/oboran2.jpeg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Tetapi, setiap Dukuh memiliki acaranya yang hampir sama yaitu pawai obor sambil melantunkan sholawat Islam dan diikuti oleh seluruh masyarakat Dukuh dan dilanjutkan dengan Jagongan dengan tujuan sebagai permintaan keberkahan dan keselamatan.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Kegiatan ini ditutup dengan makan nasi tumpeng bersama. Nasi tumpeng tersebut berwarna putih dan dilengkapi dengan lauk pauk seperti ikan, tempe, telur, mie dan lain-lain.</p>
        </div>
        <div class="sejarahdesa-header">
          <h4>Samproan</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Kesenian Samproan merupakan sebuah keterampilan musik nyanyian yang memukau, diiringi oleh alat musik rabana. Kesenian ini memiliki keunikan tersendiri, dimana setiap dukuh di Desa Kedungjati memiliki banyak kelompok Samproan dengan anggota sebanyak 30 orang, yang mayoritas terdiri dari ibu-ibu setempat.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/samproan.png" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/sampro.jpg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Desa Kedungjati memiliki total 9 kelompok Samproan yang tampil dengan gemilang di berbagai acara seperti pengajian, hajatan, ataupun kegiatan jamiyahan. Saat penampilan, setiap kelompok menampilkan 9 orang anggota, terdiri dari 8 orang pengalun rabana, serta 1 orang penyanyi yang membawakan lagu-lagu Islam dengan indah.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Kesenian Samproan ini merupakan warisan seni yang berharga bagi Desa Kedungjati dan dilatih oleh tokoh seni terkemuka di desa, yaitu Alm. Fajar Sidiq. Beliau telah memberikan sumbangsih yang luar biasa dalam memperkuat serta melestarikan kesenian ini. Selain rabana, kesenian ini juga menggunakan alat musik lain seperti bas, hotek, dan icik, yang semakin memperkaya harmoni musiknya.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Tak hanya menjadi hiburan semata, Kesenian Samproan telah menjadi bagian tak terpisahkan dari identitas budaya Desa Kedungjati. Keberadaannya turut mempererat rasa kebersamaan dan keharmonisan antarwarga, serta menjadi simbol kekayaan budaya lokal yang patut dilestarikan.</p>
        </div>
        <div class="sejarahdesa-header">
          <h4>Hadroh</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Hadroh merupakan sebuah seni tradisional yang telah melampaui zaman dan tetap memikat hati banyak orang hingga kini. Kesenian ini merupakan bagian tak terpisahkan dari warisan budaya Indonesia, menjadi simbol kekayaan seni dan keindahan lokal yang patut dilestarikan dan diapresiasi.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/hadro.png" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/hadro1.jpeg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Dengan akar sejarah yang mendalam, kesenian Hadro dianggap sebagai representasi estetika dan keindahan dari berbagai daerah di Indonesia. di Desa Kedungjati, Hadro mengisahkan cerita-cerita penuh makna, baik yang bersifat religius. Dalam setiap tariannya, para penari Hadro mampu menghadirkan perasaan, mengungkapkan emosi, dan menyampaikan pesan moral tanpa kata-kata.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Tak hanya sebuah pertunjukan tari semata, Hadro telah menjadi sarana interaksi sosial dan identitas budaya bagi masyarakat di Desa Kedungjati. Generasi demi generasi terus melestarikan dan mengembangkan kesenian ini, sehingga seni Hadro tetap berkembang dan mampu bertahan menghadapi tantangan zaman.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Kendati demikian, kesenian Hadro juga menghadapi beberapa tantangan dalam menjaga eksistensinya. Perkembangan teknologi dan gaya hidup modern kadang-kadang membuat kesenian tradisional seperti Hadro terabaikan dan kalah pamor.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Oleh karena itu, penting bagi kita untuk tetap mendukung dan memberikan apresiasi atas keindahan kesenian ini agar tetap hidup dan lestari.</p>
        </div>
        <div class="sejarahdesa-header">
          <h4>Maulid Nabi</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Maulid Nabi adalah acara yang diselenggarakan oleh masyarakat yang memeluk agama Islam di Desa Kedungjati untuk memperingati hari lahir Nabi Muhammad SAW. Biasanya masyarakat melakukan kegiatan perlombaan karnaval kostum dan pertunjukkan seni Wayang di Kecamatan Warureja. Pemain Wayang tersebut berasal dari orang luar desa dan ditonton oleh seluruh masyarakat desa.</p>
        </div>
        <div class="sejarahdesa-header">
          <h4>Tolak Bala Orang Meninggal</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Menurut kepercayaan masyarakat Dukuh Kedungjati, kematian seseorang merupakan hal yang harus dihormati. Ritual yang harus dilakukan ketika ada orang meninggal yaitu seorang kepala desa tidak boleh datang ke acara pemakaman karena dipercaya dapat menimbulkan korban lainnya yang akan meninggal.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Sehingga, kepala desa hanya datang saat acara takziah setelah acara pemakaman selesai. Selain itu, dilakukan juga ritual haul. Ritual ini merupakan sebuah ritual khusus untuk memperingati orang meninggal setiap 1 tahun sekali.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Haul ini dilakukan di makam orang tersebut dengan memberikan sesajen yang berisi makanan kesukaan orang yang meninggal. Haul ini juga diiringi dengan bacaan doa-doa untuk mendoakan orang yang meninggal tersebut.</p>
        </div>
        <div class="sejarahdesa-header">
          <h4>Tolak Bala Bayi Baru Lahir dan Ibu Hamil</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Masyarakat desa Kedungjati memiliki cara tersendiri untuk menolak bala (musibah) di rumah mereka jika ada bayi baru lahir menggunakan jasa dukun beranak. Ritual yang harus dilakukan adalah meletakkan bayi tersebut ke tampah dan tampah tersebut akan di putar-putar oleh dukun tersebut.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Hal ini dipercaya untuk menolak bala terhadap bayi. Selain itu, masyarakat juga percaya bahwa ibu hamil harus membawa gunting atau peniti untuk menolak bala diluar rumah.</p>
        </div>
        <div class="sejarahdesa-header">
          <h4>Makam Mbah Soleh</h4>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Mbah Soleh merupakan salah satu tokoh Ulama besar yang berjasa di Desa Kedungjati. Mbah Soleh menyebarkn agama Islam di Desa Kedungjati melalui dakwah dari rumah ke rumah lainnya. Selain Mbah Soleh terdapat juga tokoh Ulama dan pangeran yang berjasa di Desa Kedungjati.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Tokoh tersebut ialah Mbah Gentari dan Pangeran Purbaya yang berasal dari kerajaan Mataram. Mbah Soleh di kebumikan di Dukuh Cipero tepatnya di kuburan Gentari. Tokoh Mbah Soleh sangat di hormati oleh masyarakat Desa Kedungjati hingga masjid besar di Desa Kedungjati dinamakan Masjid Soleh Al-Mubarok.</p>
        </div>
        <div class="sejarahdesa-imgbox">
          <div class="sejarahdesa-img">
            <img src="/img/soleh1 (1).jpeg" alt="" />
          </div>
          <div class="sejarahdesa-img">
            <img src="/img/soleh1 (2).jpeg" alt="" />
          </div>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Masyarakat desa biasanya melakukan ziarah pada hari Jumat Kliwon. Beberapa orang juga ada yang menginap di makam untuk melakukan doa-doa yang mereka percayai. Selain itu, para peziarah makam tidak hanya berasal dari Desa Kedungjati, terdapat juga orang luar daerah yang ziarah ke makam Mbah Soleh.</p>
        </div>
        <div class="sejarahdesa-paragraf">
          <p>Makam Mbah Soleh ditutup dengan kain berwarna hijau dikarenakan warna yang identik dengan ciri khas islam Nahdalatul Ulama. Selain itu, terdapat bacaan doa yang diletakkan di batu nisan makam yang berfungsi untuk bacaan doa para ziarah. Tidak hanya makam Mbah Soleh, kain hijau itu juga menutupi makam Mbah Gentari dan Pangeran Purbaya.</p>
        </div>
      </div>
    </div>
    <div class="visimisi-right">
      <div class="rekomendasi-berita-container">
        <div class="rekomendasi-berita-wrapper">
          <div class="rekomendasi-berita-title">
            <h3>Lihat Profil Lainnya</h3>
          </div>
          <div class="anothermenu">
            <ul>
              <li><a href="/visimisi">Visi dan Misi</a></li>
              <li><a href="/profilkades">Profil Kepala Desa</a></li>
              <li><a href="/profilpedes">Profil Perangkat Desa</a></li>
              <li><a href="/sejarahdesa">Sejarah dan Budaya Desa</a></li>
              <li><a href="/infrastrukturdesa">Infrastruktur Desa</a></li>
              <li><a href="/petadesa">Peta Desa</a></li>
              <li><a href="/potensidesa">Potensi Desa</a></li>
              <li><a href="/pembangunandesa">Pembangunan Desa</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
