<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="shortcut icon" href="/img/logotegal.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/index_admin.css" />
    <link rel="stylesheet" href="/css/add_perangkatdesa_admin.css" />
    <link rel="stylesheet" href="/css/tambahadmin.css" />
    <link rel="stylesheet" href="/css/tambahriwayat.css" />
    <link rel="stylesheet" href="/css/profildesa.css" />
    <link rel="stylesheet" href="/css/edit_perangkatdesa.css" />
    <!-- Link AOS Library -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- END Link AOS Library -->
    <!-- LINK FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <title><%- title %></title>
  </head>
  <body>
    <div class="menu-option-admin">
      <div class="menu-option-admin-wrapper">
        <div class="menu-option">
          <div class="dashboard">
            <a href="/index_admin">Dashboard</a>
          </div>
          <div class="profildesa">
            <a href="/profildesa_admin">Profil Desa</a>
          </div>
          <div class="perangkatdesa">
            <a href="/perangkatdesa_admin">Perangkat Desa</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container"><%- body %></div>
    <!-- aos script -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- END aos Script -->
    <script src="/js/aos.js"></script>
  </body>
</html>
